# Virtual environment
/venv
/.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Other files
src/note/
data/

# Log files
*.log
app.log

# Env files with secrets
.env

# IDE / Editor specific
.idea/
.vscode/
src/note/context.txt
