selenium
screeninfo
pandas
requests
beautifulsoup4
lxml
tqdm
seaborn
matplotlib
fastapi[all]
uvicorn
pydantic

# pip install -r requirements.txt -> install all packages in the requirements.txt file
# pip list -> view all packages installed







